body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f2f4f8;
}

/* TOP BAR */
.topbar{
    background:#002b5c;
    color:white;
    padding:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.title{
    font-weight:bold;
}

.timer{
    font-size:20px;
    font-weight:bold;
}

/* WARNING */
#warning{
    text-align:center;
    color:red;
    margin:10px;
    font-weight:bold;
}

/* MAIN CONTAINER */
.container{
    width:70%;
    margin:30px auto;
    background:white;
    padding:20px;
    border-radius:10px;
}

/* QUESTION */
.question{
    font-size:18px;
    margin-bottom:20px;
}

/* OPTIONS */
.option{
    display:block;
    padding:10px;
    margin:8px 0;
    background:#f5f5f5;
    border-radius:5px;
    cursor:pointer;
}

/* NAV BUTTONS */
.nav{
    margin-top:20px;
    display:flex;
    justify-content:space-between;
}

button{
    padding:10px 15px;
    border:none;
    background:#002b5c;
    color:white;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background:#014a9c;
}